:root {
    --orange: #F36525;
    --orange-light: #FFA46D;
    --blue: #0E0EB1;
    --blue-light: #697BC5;
    --pink: #C71F91;
    --pink-light: #EB71C4;
    --green: #1DA46B;
    --green-light: #70C3A0;
    --white: #EEE8DA;
    --black: #2F2A2A;
}